#events .main-content {
  top: -100px; }

#events .dummy-event,
#events .event {
  margin: 2em 1em;
  flex-basis: 400px; }

#events .event {
  z-index: 1;
  font-family: 'Source Sans Pro', sans-serif;
  transition: transform 0.1s ease-in-out;
  cursor: pointer; }
  #events .event .event-datetime-container {
    z-index: 1;
    width: 150px;
    margin-bottom: 200px;
    border: 2px solid rgba(113, 113, 113, 0.62); }
  #events .event:hover, #events .event:active {
    transform: scale(1.05); }
  #events .event .event-title {
    position: absolute;
    bottom: 15%;
    font-weight: bold;
    padding-left: 10px;
    align-self: flex-start;
    text-transform: uppercase; }
  #events .event .event-day {
    background-color: #676767; }
  #events .event .event-thumbnail {
    background: transparent;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }

#events .past-events .event {
  filter: grayscale(1); }

#events #single-event .event-full-thumbnail {
  width: 100%;
  min-height: 400px;
  background-image: url("../images/events-thumbnails/01.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
