#events .event {
  margin: 2em 1em;
  flex-basis: 400px;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.33);
  transition: transform 0.1s ease-in-out;
  cursor: pointer; }
  #events .event .event-datetime-container {
    width: 130px;
    box-shadow: 12px 10px 8px 1px rgba(0, 0, 0, 0.278);
    margin-bottom: 150px; }
  #events .event:hover, #events .event:active {
    transform: scale(1.05); }
  #events .event .event-title {
    position: absolute;
    bottom: 15%;
    font-weight: bold;
    padding-left: 10px;
    align-self: flex-start;
    text-transform: uppercase; }
  #events .event .event-day-text,
  #events .event .event-location {
    background: #29b26e; }
  #events .event .event-date,
  #events .event .event-datetime {
    background: #2ec77a; }
  #events .event .event-thumbnail {
    background: transparent;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
  #events .event .event-datetime .material-icons {
    margin-left: 0.3em; }

#single-event .event-full-thumbnail {
  width: 100%;
  min-height: 400px;
  background-image: url("../images/events-thumbnails/01.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
