#event {
  top: 0; }
  #event .background-image-container {
    height: 700px; }
  #event .event-datetime-container,
  #event .event-location {
    border: 2px solid rgba(113, 113, 113, 0.62); }
  #event .event-title {
    margin-top: 180px;
    margin-bottom: 100px; }
  #event .event-location {
    max-width: 250px; }
