#workshops .main-content {
  top: -100px; }

#workshops .workshop-thumbnail {
  min-height: 200px; }
  #workshops .workshop-thumbnail .workshop-small-details {
    border: 2px solid rgba(113, 113, 113, 0.62);
    align-self: flex-end; }

#workshops .workshop {
  transition: transform 0.1s ease-in-out; }
  #workshops .workshop:hover, #workshops .workshop:active {
    transform: scale(1.02); }
